*{
    margin: 0;
    padding: 0;
    
}
.container{
    background-color: #CAF0F8;
    height: 100vh;
}
.heading{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
}
.box{
    height: 70px;
    width: 220px;
    margin: auto;
    background-color: #c4ddff;
    border: 4px solid #001d6e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
#rno{
    font-size: 40px;
    color: linear-gradient(#112b3c,#205375);
}
#hint{
    display: block;
    text-align: center;
    font-size: 25px;
}
.center{
    display: flex;
    justify-content: center;
}
#mguess{
    height: 30px; 
    border: 2px solid black;
    margin-right: 5px;
}